@import "../../styles/variables";
@import "../../styles/extends";
@import "../../styles/mixins";

.category_btn {
  @extend %btn;
  @extend %btn, .grey;
  display: inline-flex;
  text-decoration: none;
  border-radius: 5px;
  height: 32px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin: 0 10px;

  @include respond-to-min($screen-mobile) {
    margin: 0 15px;
  }

  @include respond-to-min($screen-tablet) {
    margin: 0 25px;
  }

  @include respond-to-min($screen-desktop) {
    margin-left: 95px;
  }
}
