@import "../../styles/variables";
@import "../../styles/extends";
@import "../../styles/mixins";

.product_block {
  padding-top: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  margin-bottom: 40px;

  @include respond-to-min($screen-tablet) {
    grid-template-columns: 1.65fr 1fr;
    margin-bottom: 60px;
  }

  @include respond-to-min($screen-desktop) {
    gap: 70px;
    margin-bottom: 100px;
  }
}

.product_images {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 700px;
    max-height: 100%;

    @include respond-to-max($screen-desktop) {
      max-width: 100%;
    }
  }
}

.product_info {
  display: flex;
  flex-flow: column;
  justify-content: center;

  p {
    margin: 0 0 15px;
  }
}

.cart_btn {
  @extend %btn;
  @extend %btn, .green;
  font-weight: 600;
  border-radius: 10px;
  display: inline-flex;
  max-width: 340px;
  width: 100%;

  @include respond-to-min($screen-tablet) {
    height: 60px;
    font-size: 22px;
  }

  @include respond-to-min($screen-desktop) {
    height: 86px;
    font-size: 28px;
  }
}

.product_cart {
  padding: 20px 0;
  border-bottom: 1px dashed #c0c0c0;
  margin-bottom: 10px;

  @include respond-to-min($screen-tablet) {
    padding: 30px 0;
    margin-bottom: 15px;
  }

  @include respond-to-min($screen-desktop) {
    padding: 40px 0;
    margin-bottom: 25px;
  }
}

.product_price {
  b {
    font-size: 40px;

    @include respond-to-min($screen-tablet) {
      font-size: 55px;
    }

    @include respond-to-min($screen-desktop) {
      font-size: 70px;
    }
  }

}
