@import "../../styles/variables";
@import "../../styles/extends";
@import "../../styles/mixins";

.discount_wrapper {
  background: linear-gradient(262.69deg, #393 -0.43%, #006300 104.36%);
  padding: 10px 0;

  @include respond-to-min($screen-desktop) {
    padding: 25px 0;
    margin-top: 100px;
    margin-bottom: 10px;
  }
}

.discount_block {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  @include respond-to-min($screen-desktop) {
    grid-template-columns: 1fr 1.05fr;
  }
}

.discount_btn {
  @extend %btn;
  @extend %btn, .large;
  @extend %btn, .white-border;
  display: inline-flex;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  line-height: 32px;
  min-width: 155px;
  border-radius: 15px;
  letter-spacing: 0.03em;

  @include respond-to-min($screen-tablet) {
    height: 60px;
    padding: 10px 20px;
    border-radius: 20px;
  }

  @include respond-to-min($screen-desktop) {
    height: 75px;
    padding: 10px 50px;
    border-radius: 25px;
    font-size: 28px;
  }


}

.discount_form {
  display: flex;
  flex-flow: column;
  gap: 15px;

  @include respond-to-min($screen-tablet) {
    gap: 20px;
    max-width: 475px;
  }

  @include respond-to-min($screen-desktop) {
    gap: 30px;
  }
}

.discount_input {
  position: relative;

  input {
    height: 40px;
    width: 100%;
    padding: 10px;
    background: none;
    border: 0;
    background: $color-white;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;

    &::placeholder {
      color: #6c6c6c;
    }

    @include respond-to-min($screen-tablet) {
      height: 60px;
      padding: 10px 20px;
      border-radius: 20px;
    }

    @include respond-to-min($screen-desktop) {
      height: 75px;
      padding: 10px 50px;
      border-radius: 25px;
    }
  }
}

.discount_text {
  padding: 20px 0;
  color: $color-white;
  letter-spacing: 0.03em;
  margin-bottom: auto;

  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
  }

  h3 {
    margin: 0 0 25px;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }

  @include respond-to-min($screen-tablet) {
    h2 {
      font-size: 60px;
      line-height: 70px;
    }

    h3 {
      margin-bottom: 35px;
      font-size: 40px;
      line-height: 50px;
    }
  }

  @include respond-to-min($screen-desktop) {
    h2 {
      font-size: 90px;
      line-height: 100px;
    }

    h3 {
      margin-bottom: 45px;
      font-size: 50px;
      line-height: 60px;
    }
  }
}

.discount_image {
  display: flex;
  align-items: center;

  @include respond-to-min($screen-tablet) {
    padding-right: 50px;
  }

  @include respond-to-min($screen-desktop) {
    padding-right: 140px;
  }

  img {
    margin: auto;
    max-width: 100%;
  }
}

