@import "../../styles/variables";
@import "../../styles/extends";
@import "../../styles/mixins";

.hero_wrapper {
  background: #a1e2eb;
}

.hero_block {
  display: grid;
  grid-template-columns:  1fr;
  align-items: center;

  @include respond-to-min($screen-desktop) {
    grid-template-columns:  1fr 1fr;
    padding: 0 25px;
  }
}

.hero_btn {
  @extend %btn;
  @extend %btn, .large;
  @extend %btn, .white;
  display: inline-flex;
  text-decoration: none;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 700;
  line-height: 32px;
  min-width: 155px;
}

.hero_text {
  padding: 25px 0 40px;
  color: $color-white;

  h2 {
    font-size: 80px;
    font-weight: 700;
    line-height: 104px;
    margin: 0;
  }

  h3 {
    font-size: 63px;
    font-weight: 700;
    line-height: 82px;
    margin: 0 0 60px;
  }

  @include respond-to-max($screen-desktop) {
    h3 {
      margin-bottom: 30px;
    }
  }
}

.hero_image {
  display: flex;
  max-height: 600px;
  overflow: hidden;

  img {
    margin: 0 auto;
    max-width: 100%;
  }

  @include respond-to-max($screen-desktop) {
    order: -1;
  }
}
