@import "mixins";

%input {
  height: 42px;
  border-radius: 7px;
  border: 1px solid #000;
  padding: 0 10px;
  transition: border .3s;
}

%btn {
  user-select: none;
  cursor: pointer;
  height: 49px;
  padding: 14px 5px 15px;
  border-radius: 5px;
  transition: background .3s, color .3s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &.green {
    background: $color-green;
    border: 2px solid $color-green;
    color: $color-white;

    &:hover {
      background: lighten($color-green, 5%);
    }
  }

  &.light-green {
    border: 2px solid $color-green;
    color: $color-green;
    background: #f1fff1;

    &:hover {
      background: darken(#f1fff1, 5%);
    }
  }

  &.white {
    background: $color-white;
    border: 2px solid $color-white;
    color: #2d2d2d;

    &:hover {
      background: darken($color-white, 5%);
    }
  }

  &.white-border {
    background: transparent;
    border: 2px solid $color-white;
    color: $color-white;

    &:hover {
      background: darken($color-green, 10%);
    }
  }

  &.grey {
    background: $color-white;
    border: 2px solid $color-grey;
    color: $color-grey;

    &:hover {
      background: darken($color-white, 5%);
    }
  }

  &.large {
    height: 82px;
  }

  @include respond-to-max($screen-desktop) {
    height: 36px;
    padding: 8px 5px;

    &.large {
      height: 48px;
    }
  }

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
}

