$screen-mobile: 678px;
$screen-tablet: 980px;
$screen-desktop: 1240px;
$screen-wide: 1920px;

$header-height-mobile: 56px;
$content-max-width: 1440px;

/* COLORS */

$color-green: #393;
$color-white: #fff;
$color-grey: #8b8b8b;
$color-black: #000;
$color-pink: #ff32a1;
$color-red: #ea4335;


$scroll-thumb: $color-green;
$scroll-track: $color-white;
