@import "../../styles/variables";
@import "../../styles/extends";
@import "../../styles/mixins";

.discount_price {
  text-decoration: line-through;
  color: $color-grey;
}

.price {
  letter-spacing: 0.03em;

  b {
    font-size: 30px;
  }
}

.share {
  color: $color-pink;
}

.price_block {
  display: flex;
  align-items: baseline;
  gap: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  @include respond-to-min($screen-tablet) {
    gap: 30px;
  }

  @include respond-to-min($screen-desktop) {
    gap: 44px;
  }
}
