@import "../../styles/variables";
@import "../../styles/extends";
@import "../../styles/mixins";

.wrapper {
  margin: 40px auto;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #000;
  max-width: 80%;
  display: flex;
  flex-flow: row wrap;
  gap: 30px 10px;
}
