@import "../../styles/variables";
@import "../../styles/extends";
@import "../../styles/mixins";

%count_btn {
  user-select: none;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-black;
  transition: color .3s;

  &:hover {
    color: $color-green;
  }
}

.cart_item {
  display: grid;
  grid-template-columns: 120px 1fr 80px 40px;
  grid-template-areas: "image title title remove"
                       "controls controls price price";
  gap: 20px;
  position: relative;

  @include respond-to-min($screen-tablet) {
    grid-template-columns: 150px 1fr 55px;
    grid-template-areas: "image title remove"
                         "image price remove"
                         "image controls remove";
  }

  @include respond-to-min($screen-desktop) {
    grid-template-columns: 192px 1fr 55px;
    gap: 30px;
  }
}

.cart_item_price {
  grid-area: price;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  @include respond-to-max($screen-xs) {
    align-items: flex-end;
  }
}

.cart_item_title {
  grid-area: title;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding-bottom: 15px;

  a {
    text-decoration: none;
    color: $color-black;
    transition: color .3s;

    &:hover {
      color: $color-green;
    }
  }

  @include respond-to-min($screen-tablet) {
    font-size: 28px;
    line-height: 36px;
  }
}

.cart_form_currency {
  font-size: 10px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0.03em;
}

.cart_item_remove {
  grid-area: remove;
  cursor: pointer;
  color: $color-black;
  transition: color .3s;

  &:hover {
    color: $color-red;
  }
}

.cart_item_image {
  position: relative;
  grid-area: image;
}

.cart_item_minus {
  @extend %count_btn;
  left: 0;
}

.cart_item_plus {
  @extend %count_btn;
  right: 0;
}

.cart_item_total {
  font-size: 14px;

  b {
    font-size: 1.5em;
  }

  @include respond-to-min($screen-tablet) {
    margin-left: auto;
    font-size: 16px;
  }

  @include respond-to-min($screen-desktop) {
    font-size: 20px;
  }
}

.cart_item_controls {
  grid-area: controls;
  display: flex;
  align-items: center;
  gap: 20px;

  @include respond-to-min($screen-tablet) {
    justify-content: space-around;
  }

  @include respond-to-max($screen-xs) {
    flex-flow: column;
    align-items: flex-start;
  }
}

.cart_item_count {
  position: relative;
  width: 120px;

  input {
    @extend %input;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.03em;
    width: 100%;
    min-height: 40px;
    height: 100%;
    padding: 0 50px;
    text-align: center;
  }

  @include respond-to-min($screen-tablet) {
    max-width: 140px;
    width: 100%;

    input {
      font-size: 16px;
    }
  }
}
