@import "../../styles/variables";
@import "../../styles/extends";
@import "../../styles/mixins";

.cart_item {
  display: grid;
  grid-template-columns: 120px 1fr 40px;
  grid-template-areas: "image title remove"
                       "controls price price";
  gap: 20px;
  position: relative;

  @include respond-to-min($screen-tablet) {
    grid-template-columns: 150px 1fr 55px;
    grid-template-areas: "image title remove"
                         "image price remove"
                         "image controls controls";
  }

  @include respond-to-min($screen-desktop) {
    grid-template-columns: 192px 1fr 55px;
    gap: 30px;
  }
}

.cart_item_price {
  grid-area: price;
  display: flex;
  align-items: center;

  @include respond-to-min($screen-tablet) {
    justify-content: flex-end;
  }
}

.cart_item_title {
  grid-area: title;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding-bottom: 15px;

  a {
    text-decoration: none;
    color: $color-black;
    transition: color .3s;

    &:hover {
      color: $color-green;
    }
  }

  @include respond-to-min($screen-tablet) {
    font-size: 28px;
    line-height: 36px;
  }

}

.cart_form_currency {
  font-size: 10px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0.03em;
}

.cart_item_remove {
  grid-area: remove;
  cursor: pointer;
  color: $color-black;
  transition: color .3s;

  &:hover {
    color: $color-red;
  }
}

.cart_item_image {
  position: relative;
  grid-area: image;

  //@include respond-to-min($screen-tablet) {
  //  grid-row: span 2;
  //}
}

.cart_item_controls {
  grid-area: controls;
  display: flex;
  flex-flow: column;
  gap: 12px;
  border-radius: 10px;
  padding: 12px;
  border: 2px solid $color-black;

  input {
    @extend %input;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.03em;
    width: 100%;
    height: 40px;
  }

}



