@import "../../styles/variables";
@import "../../styles/extends";
@import "../../styles/mixins";

.footer_wrapper {
  margin-top: 20px;
  position: relative;
  z-index: 1;

  @include respond-to-min($screen-tablet) {
    margin-top: 30px;
  }

  @include respond-to-min($screen-desktop) {
    margin-top: 40px;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-bottom: 20px;

  a {
    color: $color-black;
    text-decoration: none;
    transition: color .3s;

    &:hover {
      color: $color-green;
    }
  }

  @include respond-to-min($screen-desktop) {
    grid-template-columns: 1.33fr 1fr;
    grid-template-areas: "contact address";
    padding-bottom: 40px;
  }
}

.footer_contact {

  @include respond-to-min($screen-desktop) {
    grid-area: contact;
  }
}

.footer_time {
  display: flex;
  flex-flow: column nowrap;
  gap: 2px;

  dt {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  dd {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
  }

  @include respond-to-min($screen-desktop) {
    margin: 22px 0;

    dt {
      font-size: 18px;
      line-height: 23px;
    }

    dd {
      font-size: 24px;
      line-height: 31px;
    }
  }
}

.footer_address {

  @include respond-to-min($screen-desktop) {
    grid-area: address;
  }
}

.footer_location {
  a {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }

  @include respond-to-min($screen-tablet) {
    a {
      font-size: 30px;
      line-height: 40px;
    }
  }

  @include respond-to-min($screen-desktop) {
    a {
      font-size: 40px;
      line-height: 52px;
    }
  }
}

.footer_tel {

  a {
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }

  @include respond-to-min($screen-tablet) {
    a {
      font-size: 50px;
      line-height: 61px;
    }
  }

  @include respond-to-min($screen-desktop) {
    a {
      font-size: 70px;
      line-height: 91px;
    }
  }
}

.footer_soc {
  display: flex;
  gap: 34px;
  padding-top: 10px;

  a {
    display: flex;
    gap: 8px;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0;
    flex-flow: column;
    align-items: center;
  }

  @include respond-to-min($screen-desktop) {
    padding-top: 30px;
  }
}

.footer_map {
  height: 525px;

  > div > div > div + div {
    display: none;
  }

  @include respond-to-max($screen-desktop) {

  }
}

.footer_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 15px;

  @include respond-to-min($screen-tablet) {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 40px;
  }

  @include respond-to-min($screen-desktop) {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 52px;
  }
}
