@import "../../styles/variables";
@import "../../styles/extends";
@import "../../styles/mixins";

.cart_btn {
  @extend %btn;
  @extend %btn, .light-green;
  font-weight: 600;
  border-radius: 10px;

  @include respond-to-min($screen-tablet) {
    border-radius: 15px;
    height: 60px;
    font-size: 18px;
    line-height: 23px;
  }

  @include respond-to-min($screen-desktop) {
    border-radius: 20px;
    height: 72px;
  }
}
