@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import '../node_modules/modern-normalize/modern-normalize.css';
@import "styles/variables";
@import "styles/extends";
@import "styles/mixins";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: .1s;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

html {
  @include custom-scroll;
  --cart-fly-time: 500ms;
  --cart-fly-x: 0px;
  --cart-fly-y: 0px;
  --cart-fly-radius: 0px;
  --cart-fly-width: 0px;
  --cart-fly-height: 0px;
  --cart-fly-bg: #{$color-green};
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
  position: relative;
  height: 100%;
}

.page {
  min-height: 100%;
  padding-top: 100px;
  background: $color-white;
  display: flex;
  flex-flow: column nowrap;
}

.content {
  flex: 1 0 auto;
  margin-top: 30px;
  position: relative;
  z-index: 2;
  background: inherit;
  overflow: hidden;

  @include respond-to-min($screen-desktop) {
    margin-top: 68px;
  }
}

.container {
  max-width: $content-max-width;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;

  @include respond-to-min($screen-mobile) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
  margin: 0;

  &__holder {
    padding: 20px 0 10px;
    display: flex;
    align-items: center;

    @include respond-to-min($screen-desktop) {
      padding: 40px 0 20px;
    }
  }

  @include respond-to-min($screen-mobile) {
    font-size: 40px;
    line-height: 52px;
  }
}

.items-container {
  display: grid;
  gap: 32px 12px;
  grid-template-columns: 1fr;
  margin-bottom: 20px;

  .wide {
    grid-column: 1/5;
  }

  @include respond-to-min($screen-mobile) {
    gap: 32px 18px;
    grid-template-columns: 1fr 1fr;
  }

  @include respond-to-min($screen-tablet) {
    gap: 32px 24px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;
  }

  @include respond-to-min($screen-desktop) {
    gap: 32px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 50px;
  }
}

.grid-item {
  display: flex;
  text-decoration: none;
  flex-flow: column nowrap;

  &:hover {
    .category-name {
      color: $color-green;
    }
  }
}

.category-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  color: $color-black;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.product-title__holder {
  width: 100%;
  overflow: hidden;
  height: 18px;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;

  @include respond-to-min($screen-tablet) {
    font-size: 16px;
    line-height: 21px;
    height: 21px;
  }
}

.product-title {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $color-black;
  display: inline-block;
  transition: color 0.3s;

  &:hover {
    color: $color-green;
  }
}

.item-image__holder {
  position: relative;

  @include respond-to-min($screen-mobile) {
    margin-bottom: 10px;
  }

  @include respond-to-min($screen-tablet) {
    margin-bottom: 20px;
  }

  &:hover {
    .item-image__price {
      pointer-events: all;
      opacity: 1;
    }
  }
}

.item-image__price {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  padding: 20px;
  transition: opacity 0.3s;
}

.item-image {
  position: relative;
  overflow: hidden;
  width: 100%;

  &::before {
    content: '';
    display: block;
    padding-bottom: 107%;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  &.__product {
    border-radius: 10px;

    @include respond-to-min($screen-tablet) {
      border-radius: 15px;
    }

    @include respond-to-min($screen-desktop) {
      border-radius: 20px;
    }

    &::before {
      padding-bottom: 100%;
    }
  }
}

.text-center {
  text-align: center;
}

.error-alert {
  color: $color-red;
}

.input-error-alert {
  position: absolute;
  top: 100%;
  font-size: 11px;
  margin-top: 3px;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-error {
  input {
    outline: 0 !important;
    border-color: $color-red;
    box-shadow: inset 0 0 0 1px $color-red !important;
  }
}

.dialog--card {

  .dialog--button-confirm {
    background-color: $color-green;

    &:hover {
      background-color: darken($color-green, 5%);
    }
  }

  .dialog--button-cancel {

    &:hover {
      background-color: darken(#f3f4f6, 5%);
    }
  }
}

// page transitions

/* starting ENTER animation */
.page-transition-enter {
  pointer-events: none;
  opacity: 0.01;
  transform: translateY(0%) scale(0.01);
}

/* ending ENTER animation */
.page-transition-enter-active {
  opacity: 1;
  transform: translateY(0%) scale(1);
  transition: all 400ms ease-in-out;
}

/* starting EXIT animation */
.page-transition-exit {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  transform: scale(1.01);
}

/* ending EXIT animation */
.page-transition-exit-active {
  opacity: 0;
  transform: scale(4);
  transition: all 400ms ease-in-out;
}
